@charset "UTF-8";

* {
    /* border: 1px solid green ; */
}

body{ min-width: 320px; }

section.home {
    padding: 0;
    width: 100%;

}
section.home > .text {
    width: 100%;
    height: 50%;
    font-size: 1.5rem;
    margin: 0;
    padding: 50px;
}
section.home > .text:nth-child(3){
    width: 90%;
}

section.home > .arrow {
    margin: 120px 0 0 0 ;
    width: 8px;
    height: 150px;
}
section.home > .arrow::after {
    left: -3px;
    height: 8px;
}

.title {
    font-size: 2rem;
    margin: 80px 0;
    text-align: center;
}


a.menu:link, a.menu:visited {
    font-size: 1.5rem;
    font-weight: 600;
}

section {
    padding: 40px;
    height: auto;
}

.workCon {
    width: 100%;
    height: auto;
    flex-flow: column;
    align-content: unset;
    padding: 0;
}
.workTitle {
    display: none;
}
.workPic { 
    width: 100%;
    height: 300px;
    box-shadow: unset;
    border-radius: 10px 10px 0 0;
}
.textBox {
    justify-content: center;
    width: 100%;
    padding: 20px;
}
.work h3 {
    margin-bottom: 15px;
    font-size: 2rem;
    text-align: center;
}
.work dl dt, .work dl dd {
    margin-bottom: 5px;
}
section.about {
    display: none;
}
section.about .aboutText {
    flex-flow: column wrap;
}
section.about .aboutText dl {
    width: 100%;
}
section.about dt {
    margin-bottom: 30px;
    font-size: 1.25rem;
}
section.about dd {
    font-size: 1.25rem;
    font-weight: 500;
}
